python-telegram-bot==20.3
Flask==2.3.2
flask-cors
psycopg2-binary
gunicorn
requests
python-dotenv
flask-socketio
gevent
gevent-websocket
Pillow
APScheduler==3.10.4
redis==4.5.4
pyrogram==2.0.106
tgcrypto==1.2.5