name: Deploy to Hetzner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HETZNER_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ${{ secrets.APP_PATH }}
            git fetch origin
            git reset --hard origin/main
            rm -rf venv
            python3 -m venv venv
            source venv/bin/activate
            pip install -q -r requirements.txt
            systemctl stop 0059bot
            killall -9 python || true
            systemctl start 0059bot